## Praxces Aufgabe

In [1]:
import pandas as pd
import datetime

In [2]:
data=pd.read_excel("Daten Praxisaufgabe.xlsx")
data["Monat"]=data["Produktionsdatum"].dt.month
data["year"]=data["Produktionsdatum"].dt.year
data#=pd.DataFrame(data)

,Produktionsdatum,Produkttyp,Produktname,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Zielgewinnspanne,FabrikNr,Monat,year
0,2021-09-18,10,CheeseStation,27,675,297,378,0.97,1,9,2021
1,2020-05-01,3,Virtual Reality Nose Hair Trimmer,649,14927,649,2596,0.51,1,5,2020
2,2021-11-15,1,Wi-Fi Smelly Socks Detector,230,5290,230,1150,0.69,1,11,2021
3,2021-08-04,7,Solar-Powered Rain Cloud,882,17640,882,6174,0.88,1,8,2021
4,2021-01-08,6,Electric Toothbrush Karaoke Machine,205,3485,410,1025,0.07,1,1,2021
...,...,...,...,...,...,...,...,...,...,...,...
2529,2021-08-08,5,Selfie Toaster,706,7060,1412,2824,0.41,2,8,2021
2530,2022-08-14,7,Solar-Powered Rain Cloud,163,2934,163,1304,0.88,2,8,2022
2531,2022-10-03,6,Electric Toothbrush Karaoke Machine,636,10812,636,4452,0.07,2,10,2022
2532,2022-11-11,5,Selfie Toaster,625,8125,1250,3750,0.41,2,11,2022
2533,2022-09-30,8,Quantum Potato Computer,45,675,1035,495,0.91,2,9,2022

In [8]:
neu_data=data.groupby("year")
neu_data=pd.DataFrame(neu_data)
neu_data

      0                                                  1
0  2020       Produktionsdatum  Produkttyp             ...
1  2021       Produktionsdatum  Produkttyp             ...
2  2022       Produktionsdatum  Produkttyp             ...

In [5]:
data=datetime.datetime.time(data,"%m.%Y")
#data=datetime.datetime.strftime(data,"%m.%Y")
#data

TypeError: descriptor 'time' for 'datetime.datetime' objects doesn't apply to a 'DataFrame' object