In [9]:
import pandas as pd
import datetime

In [10]:
data=pd.read_excel("Daten Praxisaufgabe.xlsx")
data1=pd.read_excel("Praxisaufgabe - Zielgewinnspanne.xlsx")

In [11]:
data["Monat"]=data["Produktionsdatum"].dt.month
data["year"]=data["Produktionsdatum"].dt.year
data

,Produktionsdatum,Produkttyp,Produktname,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Zielgewinnspanne,FabrikNr,Monat,year
0,2021-09-18,10,CheeseStation,27,675,297,378,0.97,1,9,2021
1,2020-05-01,3,Virtual Reality Nose Hair Trimmer,649,14927,649,2596,0.51,1,5,2020
2,2021-11-15,1,Wi-Fi Smelly Socks Detector,230,5290,230,1150,0.69,1,11,2021
3,2021-08-04,7,Solar-Powered Rain Cloud,882,17640,882,6174,0.88,1,8,2021
4,2021-01-08,6,Electric Toothbrush Karaoke Machine,205,3485,410,1025,0.07,1,1,2021
...,...,...,...,...,...,...,...,...,...,...,...
2529,2021-08-08,5,Selfie Toaster,706,7060,1412,2824,0.41,2,8,2021
2530,2022-08-14,7,Solar-Powered Rain Cloud,163,2934,163,1304,0.88,2,8,2022
2531,2022-10-03,6,Electric Toothbrush Karaoke Machine,636,10812,636,4452,0.07,2,10,2022
2532,2022-11-11,5,Selfie Toaster,625,8125,1250,3750,0.41,2,11,2022
2533,2022-09-30,8,Quantum Potato Computer,45,675,1035,495,0.91,2,9,2022

In [12]:
data_neu=data.groupby(['year','Monat','Produkttyp'], as_index=False).sum()
data_neu["Zielgewinnspanne"]=data["Zielgewinnspanne"]
firtig_data=data_neu[["year","Monat","Produkttyp","Produzierte Einheiten","Arbeitskosten","Materialkosten","Sonstige Kosten","Zielgewinnspanne"]]
display(firtig_data)

C:\Users\49163\AppData\Local\Temp\ipykernel_19236\1622725426.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_neu=data.groupby(['year','Monat','Produkttyp'], as_index=False).sum()

,year,Monat,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Zielgewinnspanne
0,2020,1,1,3234,53859,4745,19334,0.97
1,2020,1,2,5843,95192,9041,40061,0.51
2,2020,1,3,2439,38983,3381,15022,0.69
3,2020,1,4,3538,49649,5118,18458,0.88
4,2020,1,5,3389,50403,5233,20024,0.07
...,...,...,...,...,...,...,...,...
355,2022,12,6,2292,41071,3701,10950,0.51
356,2022,12,7,3101,44913,4936,22890,0.46
357,2022,12,8,547,12015,8639,6591,0.91
358,2022,12,9,194,4272,2696,2173,0.07
359,2022,12,10,328,7281,4978,4160,0.91

In [13]:
firtig_data["Gesamtkosten"]=firtig_data["Arbeitskosten"]+firtig_data["Materialkosten"]+firtig_data["Sonstige Kosten"]
display(firtig_data)

,year,Monat,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Zielgewinnspanne,Gesamtkosten
0,2020,1,1,3234,53859,4745,19334,0.97,77938
1,2020,1,2,5843,95192,9041,40061,0.51,144294
2,2020,1,3,2439,38983,3381,15022,0.69,57386
3,2020,1,4,3538,49649,5118,18458,0.88,73225
4,2020,1,5,3389,50403,5233,20024,0.07,75660
...,...,...,...,...,...,...,...,...,...
355,2022,12,6,2292,41071,3701,10950,0.51,55722
356,2022,12,7,3101,44913,4936,22890,0.46,72739
357,2022,12,8,547,12015,8639,6591,0.91,27245
358,2022,12,9,194,4272,2696,2173,0.07,9141
359,2022,12,10,328,7281,4978,4160,0.91,16419

In [14]:
firtig_data["durchnittlich_kosten"]=firtig_data["Gesamtkosten"]/firtig_data["Produzierte Einheiten"]
display(firtig_data)

,year,Monat,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Zielgewinnspanne,Gesamtkosten,durchnittlich_kosten
0,2020,1,1,3234,53859,4745,19334,0.97,77938,24.099567
1,2020,1,2,5843,95192,9041,40061,0.51,144294,24.695191
2,2020,1,3,2439,38983,3381,15022,0.69,57386,23.528495
3,2020,1,4,3538,49649,5118,18458,0.88,73225,20.696721
4,2020,1,5,3389,50403,5233,20024,0.07,75660,22.325170
...,...,...,...,...,...,...,...,...,...,...
355,2022,12,6,2292,41071,3701,10950,0.51,55722,24.311518
356,2022,12,7,3101,44913,4936,22890,0.46,72739,23.456627
357,2022,12,8,547,12015,8639,6591,0.91,27245,49.808044
358,2022,12,9,194,4272,2696,2173,0.07,9141,47.118557
359,2022,12,10,328,7281,4978,4160,0.91,16419,50.057927

In [15]:
firtig_data["verkaufspreis"]=(firtig_data["Gesamtkosten"]/(1-firtig_data["Zielgewinnspanne"]))
display(firtig_data)

,year,Monat,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Sonstige Kosten,Zielgewinnspanne,Gesamtkosten,durchnittlich_kosten,verkaufspreis
0,2020,1,1,3234,53859,4745,19334,0.97,77938,24.099567,2.597933e+06
1,2020,1,2,5843,95192,9041,40061,0.51,144294,24.695191,2.944776e+05
2,2020,1,3,2439,38983,3381,15022,0.69,57386,23.528495,1.851161e+05
3,2020,1,4,3538,49649,5118,18458,0.88,73225,20.696721,6.102083e+05
4,2020,1,5,3389,50403,5233,20024,0.07,75660,22.325170,8.135484e+04
...,...,...,...,...,...,...,...,...,...,...,...
355,2022,12,6,2292,41071,3701,10950,0.51,55722,24.311518,1.137184e+05
356,2022,12,7,3101,44913,4936,22890,0.46,72739,23.456627,1.347019e+05
357,2022,12,8,547,12015,8639,6591,0.91,27245,49.808044,3.027222e+05
358,2022,12,9,194,4272,2696,2173,0.07,9141,47.118557,9.829032e+03
359,2022,12,10,328,7281,4978,4160,0.91,16419,50.057927,1.824333e+05